# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules

.sync-config.cson

# Optional npm cache directory
.npm

# Prod artefacts
dist
lessons.js
build
